<!-- <table class="table"> -->
    <!-- <thead >
      <th>ServiceId.</th>
      <th>ServiceType</th>
      <th>Description</th>
      <th> Image</th>
      <th> MOre</th>
    </thead>
     <tbody>
      <tr *ngFor="let service of ServiceList;let i=index">
          <td>{{service.id}}</td>
          <td>{{service.type}}</td>
          <td>{{service.description}}</td>
          <td>{{service.img}}</td>
          <td> <a class="btn btn-info" [routerLink]="['/Subservice',service.id]" > More </a></td>
      </tr>
     </tbody>
   </table> -->
   <div *ngFor="let service of ServiceList;let i=index">
   <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://dummyimage.com/300x400/f7eff7/ff0026&text={{service.id}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> Id: {{service.id}}</h5>
      <p class="card-text">Type: {{service.type}}
        <br>
        Description: {{service.description}}
      </p>
      <p><a class="btn btn-info" [routerLink]="['/Subservice',service.id]" >More</a></p>
    </div>
  </div>
</div>
  