// label{
//     float: right;
// }
// button{
//     float:left;
// }
// img {
//     pointer-events: none;
// }

// .ng-valid[required], .ng-valid.required  {
//     border-left: 5px solid #42A948; /* green */
//   }
  
//   .ng-invalid:not(form)  {
//     border-left: 5px solid #a94442; /* red */
//   }
  .col-md-6{
    background-color: rgb(219, 243, 223);
  
    border-radius:10%
  }
  h5{
    color: rgb(128, 19, 19);
    text-align: center;
    font-family: 'Lemonada';
  }
  
  label{
      float: right;
  }
  button{
      float:left;
      align-items: right;
      background-color: #225825;
      width: 100%;
  
  }
  
  
  .ng-valid[required], .ng-valid.required  {
      border-left: 5px solid #42A948; /* green */
    }
  
    .ng-invalid:not(form)  {
      border-left: 5px solid #a94442; /* red */
    }
