<!-- <footer class="page-footer font-small fixed-bottom bg-danger"   appHighlight>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href=""> ITI Minia</a>
    </div>
  
  </footer> -->
  <!-- Footer -->
 


<!-- 
  <section class="container-fluid sec-footer ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title"> نبذة مختصرة</div>
                        <div class="card-text">
صنعة شركة متخصصة فى كافة اعمال الديكور والتشطيبات بجودة عالية فى محافظة المنيا حيث توفر افضل الفنيين والرواد فى هذا المجال
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title">التواصل</div>
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-phone ml-3"></i>
                                    <span>03-4489393-01285748917</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-map-marker ml-3"></i>
                                    <span> شارع صلاح الدين -المنيا-مصر</span>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                  <i class="fas fa-envelope-open ml-3"></i>
                                  <span>Team@san3a.com</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col text-center">
              <img [src]="img1" alt="صنعة" class="mb-3">
              <br class="clearfix">
              <a href="#" class="snip1472"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="snip1472"><i class="fab fa-instagram"></i></a>
              <a href="#" class="snip1472"><i class="fab fa-telegram-plane"></i></a>
              <a href="#" class="snip1472"><i class="fab fa-google-plus-g"></i></a>
          </div>
      </div>
  </div>
</section>
<section class="container-fluid sec-sub-footer">
  <div class="container">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href=""> ITI San3a-Team</a>
    </div>
  </div>
</section> -->


<!-- 
<section class="container-fluid sec-footer ">
    <div class="container">
        <div class="row" style="font-size: 17px">
          <div class="col text-center">
            <br>
            <img src="assets/1.png" alt="صنعة" class="mb-3" id="img" style="width: 270;height: 179;">
            <br class="clearfix">
            <a href="#" class="snip1472"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="snip1472"><i class="fab fa-instagram"></i></a>
            <a href="#" class="snip1472"><i class="fab fa-telegram-plane"></i></a>
            <a href="#" class="snip1472"><i class="fab fa-google-plus-g"></i></a>
        </div>
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title"> نبذة مختصرة</div>
                        <div class="card-text">
صنعة شركة متخصصة فى كافة اعمال الديكور والتشطيبات بجودة عالية فى محافظة المنيا حيث توفر افضل الفنيين والرواد فى هذا المجال
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title">التواصل</div>
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-phone ml-3"></i>
                                    <span>03-4489393-01285748917</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-map-marker ml-3"></i>
                                    <span> شارع صلاح الدين -المنيا-مصر </span>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                  <i class="fas fa-envelope-open ml-3"></i>
                                  <span>Team@san3a.com</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
<section class="container-fluid sec-sub-footer">
  <div class="container">
    <div class="footer-copyright text-center py-3" style="font-size: 15px;">© 2020 Copyright:
      <a href="" style="font-size: 15px;"> ITI San3a-Team</a>
    </div>
  </div>
</section> -->




<footer id="footer" dir="rtl">

    <div class="footer-top" dir="rtl">
      <div class="container">
        <div class="row"dir="rtl" >

          <div class="col-lg-3 col-md-6 footer-contact" dir="rtl" >
            <h3 dir="rtl">صنعة</h3>
            <p dir="rtl">
             شارع صلاح الدين <br>
             المنيا<br>
              مصر <br>
              <strong dir="rtl">رقم التليفون:</strong> <br> 03-4489393-01285748917<br>
              <strong dir="rtl">الايميل:</strong><br> sn3a.team@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" dir="rtl">
            <h4 dir="rtl"> روابط مفيدة</h4>
            <ul dir="rtl" >
              <li><i class="bx bx-chevron-left"></i> <a href="#">الرئيسية</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">عن الشركة</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">الخدمات</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">سياسةالخصوصية</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">معلومات اخرى</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" dir="rtl">
            <div dir="rtl"><h4 dir="rtl" >خدماتنا</h4></div>
            <ul dir="rtl"> 
              <li><i class="bx bx-chevron-left"></i> <a href="#">صيانه متكاملة للمنزل</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">نقل اثاث</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">نظافة منزل كاملة</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">قطع غيار</a></li>
              <li><i class="bx bx-chevron-left"></i> <a href="#">شراء وبيع اساسيات المنزل</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter" dir="rtl">
            <img
        [src]="img1"
         style="width: 200px; height: 200px;"
        alt=""
         />
            <!-- <h4 dir="rtl">الالباليبيايلا</h4>
            <p dir="rtl">Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form> -->
          </div> 

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-8 text-left text-md-left" style="padding-top: 10px;"> 
        <div class="copyright">
          &copy; 2020 Copyright: <strong><span>ITI San3a-Team</span></strong>
        </div>
        
      </div>
      <div class="mr-md-auto text-left text-md-left"> 
      </div>
   
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>