<div class="row">
 
  <div class="col-md-3" *ngFor="let product of ServiceList; let i=index" >
    <mdb-card cascade="true" narrower="true" class="mb-3 mt-3 example hoverable" style="border-radius: 10% 10% 10% 10%" >

      <div class="view view-cascade overlay waves-light" style="border-radius: 10% 10% 10% 10%" mdbWavesEffect>
        <mdb-card-img src="{{product.image}}" ></mdb-card-img>
        <a [routerLink]="['/Subservice', product.id]">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <mdb-card-body cascade="true" class="text-center">
        <h5 class="text-primary">
          <mdb-icon fas icon="hammer"></mdb-icon>{{product.type}}</h5>
    

        <mdb-card-text>{{product.description}}</mdb-card-text>

        <a mdbBtn color="primary" class="waves-light" mdbWavesEffect [routerLink]="['/Subservice', product.id]"><strong>تفاصيل الخدمة</strong></a>

      </mdb-card-body>

    </mdb-card>
  </div> 
