
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<header id="header" class="fixed-top " >

  <div class="w3-bar w3-black" >

    <nav class="nav-menu d-none d-lg-block" style="text-align:right;background:  rgba(68, 94, 139, 0.9);">

      <ul style="text-align: right;">
        <li style="text-align: right;"> <a class="w3-bar-item w3-button" mdbWavesEffect   [routerLink]="['/Content']" ><mdb-icon fas icon="sign-in-alt"  size="1x"></mdb-icon> تسجيل الدخول<span class="sr-only">(current)</span>
        </a></li>
        <li style="text-align: right;"><a></a></li>
        <li style="text-align: right;"><a></a></li>
        <li style="padding-right: 0px;"><a></a></li>
        <li style="text-align: right;"><a></a></li>
        <li style="padding-right: 0px;"><a></a></li>
        <li style="text-align: right;"><a></a></li>
        <li style="padding-right: 0px;"><a></a></li>

        <!--li style="padding-right: 0px;"><a class="w3-bar-item w3-button" href="#about"> elsherka</a></li-->

         <li style="text-align: right;"> <a class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Register']" ><mdb-icon fas icon="user-plus"  size="1x"></mdb-icon> الاشتراك<span class="sr-only">(current)</span> </a></li>
        <li style="text-align: right;"> <a class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Contact']" ><mdb-icon fas icon="phone-alt"  size="1x"></mdb-icon> أتصل بنا<span class="sr-only">(current)</span></a></li>
        <li style="text-align: right;"> <a class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Technision']" ><mdb-icon fas icon="users"  size="1x"></mdb-icon> الفنيين<span class="sr-only">(current)</span></a></li>
        <li style="text-align: right;" ><a class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Products']"><mdb-icon fas icon="phone-alt"  size="1x"></mdb-icon> المنتجات<span class="sr-only">(current)</span></a></li>
        <li style="text-align: right;"> <a class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Services']"><mdb-icon fas icon="tools"  size="1x" ></mdb-icon> الخدمات<span class="sr-only">(current)</span></a></li>
        <li style="text-align: right;"> <a class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Aboutus']"><mdb-icon fas icon="building"  size="1x"></mdb-icon> عن الشركة<span class="sr-only">(current)</span></a></li>
        <li style="text-align: right;"> <a class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Content']"><mdb-icon fas icon="tools"  size="1x"></mdb-icon>الرئيسية</a></li>
        <li style="text-align: right;">  <img
        src="../../../assets/images/1.png"
        class="img-fluid rounded-pill" style="width: 70px; height: 70px;"
        alt=""
         /></li>


    </ul>
    </nav>

  </div>
</header>


<!-- Navbar-->


  <!-- <form class="d-flex input-group w-auto">
    <input
      type="search"
      class="form-control"
      placeholder="خدمتك عندنا"
      aria-label="Search"
    />
    <a href="#">
      <mdb-icon fas icon="search" class="ml-2"  size="x"></mdb-icon>
    </a>
  </form> -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
         <img src="../../../assets/images/hero-img.png" class="img-fluid animated" alt="" style="width: auto;height: auto;">
        </div>

        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
         <br><br><br><br><br><br>
          <h1>صنعة</h1>
          <h2>صنعة شركة متخصصة فى كافة اعمال الديكور
            والتشطيبات بجودة عالية فى محافظة
            المنيا حيث توفر افضل الفنيين والرواد فى هذا المجال</h2>
          </div>
      </div>
    </div>

  </section><!-- End Hero -->

 