<br><br><br>


<div class="shadow-lg p-3 mb-5 bg-white rounded mt-1">



  <form (ngSubmit)="CreateOrder()">
    <div class="row ">
      <div class="col-md-4 justify-content-center align-self-center">
        <img src="assets/images/hero-img.png">


      </div>
      <div class="col-md-8 justify-content-center align-self-center">

        <div class="content ">
          <div class="col">
            <div class="row d-flex justify-content-center" [style.visibility]="show? 'visible': 'hidden'">
              <div  class="alert alert-danger custom_alert text-center">
                لم يتم ارسال الطلب ،، برجاء المحاولة مرة آخرى
              </div>
            </div>
          </div>
        </div>

        <div class="content ">
          <div class="col">
            <div class="row d-flex justify-content-center" [style.visibility]="show1? 'visible': 'hidden'">
              <div class="alert alert-success custom_alert text-center">
                تم ارسال الطلب بنجاح ،، سيتم التواصل معكم في اقرب وقت
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="">الخدمات الرئيسية</label>
          <select class="browser-default custom-select" [(ngModel)]="order.service"
            [ngModelOptions]="{standalone: true}" (change)="ChangeService($event.target.value)">
            <option *ngFor="let service of ServiceList; let i=index" [value]="service.id">{{service.type}}</option>
          </select>
        </div>
      </div>

     

    </div>
    <div class=row>
      <div class="col-md-6 justify-content-center align-self-center">
        <div class="form-group">
          <label for="">الخدمات</label>
          <select class="browser-default custom-select" [(ngModel)]="order.sub_services"
            [ngModelOptions]="{standalone: true}" multiple>
            <option *ngFor="let s_service of SubServiceList; let i=index" [value]="s_service.id"
              (click)="ChangeCostS(order.sub_services)">{{s_service.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 justify-content-center align-self-center">
        <div class="form-group">
          <label for="">المنتجات </label>
          <select class="browser-default custom-select align-items-center" [(ngModel)]="order.products"
            [ngModelOptions]="{standalone: true}" multiple>
            <option *ngFor="let pro of ProductList; let i=index" [value]="pro.id" (click)="ChangeCostP(order.products)">
              {{pro.name}}</option>
          </select>
        </div>


      </div>
    </div>

    <div class="row">
      <div class="col-md-6 justify-content-center align-self-center">
        <div class="form-group">
          <label for="">الفنيين </label>
          <select class="browser-default custom-select" [(ngModel)]="order.technical"
            [ngModelOptions]="{standalone: true}">
            <option *ngFor="let tec of TechnisionList; let i=index" [value]="tec.id">{{tec.username}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 justify-content-center align-self-center">
        <div class="form-group  ">
          <label for="">تاريخ تقديم الخدمة </label><br>
          <input type="date" class="" width="100%" [(ngModel)]="order.date" [ngModelOptions]="{standalone: true}">
          <br>
        </div>
      </div>
    </div>


    <div class="row">



      <div class="col-md-6 justify-content-center align-self-center">
        <button type="submit" class="btn">إرسال الطلب</button>
      </div>
      <div class="col-md-6 justify-content-center align-self-center">
        <div class="form-group">
          <label for="">التكلفة </label>
          <p>جنيه مصري</p> <input type="text" class="form-control" readonly [(ngModel)]="total_Cost"
            [ngModelOptions]="{standalone: true}">
        </div>

      </div>

    </div>
   
  
  </form>
  
</div>


