
<form #myForm="ngForm" (ngSubmit)="CreateAccount()"  >
    <div class="form-group">
      <label for="">User_Name</label>
      <input type="text" name="pName" #pName="ngModel" [class.is-valid]="pName.valid"  [class.is-invalid]="pName.invalid && pName.touched" [(ngModel)]="customer.username"  minlength="3"  class="form-control" placeholder="" aria-describedby="helpId">
        <div class="alert alert-danger"  *ngIf="pName.invalid && pName.touched"  role="alert">
            <!-- <div *ngIf="pName.hasError('required')" > Name is required </div> -->
            <div *ngIf="pName.hasError('minlength')"> please write valid username </div>
        </div>
    </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" name="pEmail" #pEmail="ngModel" [class.is-valid]="pEmail.valid"  [class.is-invalid]="pEmail.invalid && pEmail.touched" [(ngModel)]="customer.email"  minlength="7"  class="form-control" placeholder="" aria-describedby="helpId">
          <div class="alert alert-danger"  *ngIf="pEmail.invalid && pEmail.touched"  role="alert">
              <!-- <div *ngIf="pEmail.hasError('required')" > Email is required </div> -->
              <div *ngIf="pEmail.hasError('minlength')"> please write valid email </div>
  
          </div>
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="pPass"    #pPass="ngModel"   minlength="4"  [(ngModel)]="customer.password" [class.is-valid]="pPass.valid"[class.is-invalid]="pPass.invalid && pPass.touched" id="" class="form-control" placeholder="" aria-describedby="helpId">
        <div class="alert alert-danger"  *ngIf="pPass.invalid && pPass.touched"  role="alert">
          <div *ngIf="pPass.hasError('minlength')" > Password is required </div>
      </div>
    </div>
     
        <div class="form-group">
          <label for="">Address</label>
          <textarea class="form-control" name="pAddress"   #pAddress="ngModel"  required minlength="10"  [(ngModel)]="customer.address" [class.is-valid]="pAddress.valid"[class.is-invalid]="pAddress.invalid && pAddress.touched"     id="" rows="3"></textarea>
          <div class="alert alert-danger"  *ngIf="pAddress.invalid && pAddress.touched"  role="alert">
            <div *ngIf="pAddress.hasError('required')" > Address is required </div>
            <div *ngIf="pAddress.hasError('minlength')"> please write complete address </div>
  
        </div>
        </div>
        <div class="form-group">
          <label for="">Phone_number</label>
          <input type="tel" name="pPhone" phone-input   #pPhone="ngModel"   required minlength="11"  [(ngModel)]="customer.phone" [class.is-valid]="pPhone.valid"[class.is-invalid]="pPhone.invalid && pPhone.touched" id="" class="form-control" placeholder="" aria-describedby="helpId">
          <div class="alert alert-danger"  *ngIf="pPhone.invalid && pPhone.touched"  role="alert">
            <div *ngIf="pPhone.hasError('required')" > Phone is required </div>
            <div *ngIf="pPhone.hasError('minlength')"> Phone is less than 11 Numbers </div>
        </div>
      </div>
    
      <div class="form-group">
        <label for="">Image</label>
        <input type="image" name="PImage"    [(ngModel)]="customer.img"   class="form-control" placeholder="" aria-describedby="helpId">
      
      </div>
     
  
  
  
        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Save</button>
      </form>
  