<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<div class="w3-container w3-center w3-animate-zoom" style="font-family: 'Lemonada', cursive ;background-color: rgb(218, 211, 211);width: 100%;">
<section class="team-section text-center my-5">

    <img src="../../../assets/1.png">


    <p style="color: black; font-size:25px">
      صنعة هى شركة مصرية مساهمة متخصصة فى كافة اعمال الديكور والتشطيبات
      بجودة عالية فى محافظة المنيا حيث توفر الشركة  افضل الفنيين والرواد فى هذا المجال</p>
      <h6 class="h1-responsive font-weight-bold my-5" style="color: rgb(9, 96, 167);font-family: 'Lemonada', cursive">تضم الشركة فريق عمل متميز</h6>
    <div class="row">

      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h3 class="font-weight-bold mt-4 mb-3">محمد اشرف</h3>
        <h5 class="font-weight-bold mt-4 mb-3"> مدير مجلس الإدارة</h5>

        <p class="grey-text"> يملك خبرة كبيرة فى مجالات
          وضع الخطة العامة للاستثمار اموال المؤسسة
          اتخاذ القرارات الاستثمارية اللازمة
        </p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg tw-ic">
            <mdb-icon fab icon="twitter" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h3 class="font-weight-bold mt-4 mb-3">احمد العدوي</h3>
        <h5 class="font-weight-bold mt-4 mb-3">مدير تنفيذى</h5>
        <p class="grey-text">يملك خبرة كبيرة فى مجالات
          مصادر التمويل
          المعاملات الحكومية
          التخطيط للمستقبل
          الإشراف على الموظفين
          </p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h3 class="font-weight-bold mt-4 mb-3">احمد بدوي</h3>
        <h5 class="font-weight-bold mt-4 mbb-3">مدير التسويق والمبيعات</h5>
         <p class="grey-text">يملك خبرة كبيرة فى مجالات
          البيع والتخطيط لاستراتيجية السوق
          الخطط التسويقية
          التواصل مع السوق
          تحديد مواصفات المنتج
          </p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="dribbble" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h3 class="font-weight-bold mt-4 mb-3">محمد عبد النعيم</h3>
        <h5 class="font-weight-bold mt-4 mb-3">مدير مالى</h5>

        <p class="grey-text">يملك خبرة كبيرة فى مجالات
          متابعة حسابات العملاء والمستثمرين
          متابعة مصادرة التمويل
          إدارة الحسابات
          إدارة الموارد البشرية
          </p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>

    </div>

  </section> -->
<!-- <section class="team-section text-center my-5">

    <div class="row">

      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">



      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h3 class="font-weight-bold mt-4 mb-3">حسام سليمان</h3>
        <h5 class="font-weight-bold mt-4 mb-3">مدير خدمة العملاء </h5>
        <p class="grey-text">يملك خبرة كبيرة فى مجالات
          تلاقى المشكلات
أجاد حلول جذرية للمشكلات
الإشراف على الموظفين
          </p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h3 class="font-weight-bold mt-4 mb-3"> هيلانه ثروت</h3>
        <h5 class="font-weight-bold mt-4 mb-3">مدير الشئون القانونية</h5>
        <p class="grey-text">يملك خبرة كبيرة فى مجالات
          معرفة متعمقة بالأنظمة واللوائح المطبقة فى جمهورية مصر العربية
معاونة مجلس الإدارة فى مراقبة تطبيق القوانين واللوائح والانظمة
         </p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="dribbble" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
    
      <div class="col-lg-3 col-md-6">


      </div>

    </div>

  </section>
</div> -->

<br><br>
<section id="team" class="team">
  <div class="container">

    <div class="row "  dir="rtl">
      <div class="col-lg-4">
        <br> <br> <br> <br>
        <div class="section-title" data-aos="fade-left" dir="rtl">
          <h2 style="text-align: right;">فريق العمل </h2>
          <p style="text-align: right;color: gray;">تضم الشركة فريق عمل متميز</p>
        </div>
      </div>

      
      <div class="col-lg-8">
        <div class="row">

          <div class="col-lg-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>حسام سليمان</h4>
                <span>رئيس مجلس الإدارة</span>
                <p>يملك خبرة كبيرة فى مجالات الاستثمار ويقوم بوضع الخطة العامة للشركة
                  </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>مصطفى العدوى</h4>
                <span>المدير التنفيذى للشركة</span>
                <p>-يملك خبرة كبيرة فى مجالات مصادر التمويل
                  المعاملات الحكومية
                  </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>محمد عبد النعيم</h4>
                <span>المدير المالى للشركة</span>
                <p>يملك خبرة كبيرة فى مجالات متابعة حسابات العملاء والمستثمرين
                   و مصادر التمويل
                
                  </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>هيلانه ثروت</h4>
                <span>مدير الشئون القانونية</span>
                <p>يملك خبرة كبيرة فى القانون واللوائح
                  والقيام بمراقبة تطبيق  هذه القوانين فى الشركة</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>احمد بدوى</h4>
                <span>مدير التسويق والمبيعات</span>
                <p>يملك خبرة كبيرة فى مجالات  البيع و
                  الخطط التسويقية و
                  تحديد مواصفات المنتج</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4 > محمد اشرف</h4>
                <span > محاسب الشركة</span>
                <p > يملك خبرة كبيرة فى مجالات  ادارة سوق المال وتحديد ميزانية والاجراءات المالية</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>

  </div>
</section>