

<br><br>
<section id="team" class="team">
  <div class="container">

    <div class="row "  dir="rtl">
      <div class="col-lg-4">
        <br> <br> <br> <br>
        <div class="section-title" data-aos="fade-left" dir="rtl">
          <h2 style="text-align: right;">الفنيين : </h2>
          <p style="text-align: right;">باباياايا</p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">

          <div class="col-lg-3" *ngFor="let tech of TechnisionList; let i=index">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="http://127.0.0.1:8000{{tech.avatar}}"  class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{tech.username}}</h4>
                <span>{{tech.job}}</span>
                <p>{{tech. description}}
                  </p>
              </div>
            </div>
          </div>

         
        </div>

      </div>
    </div>

  </div>
</section>