<!-- 

<mdb-carousel class="carousel slide carousel-fade carousel-custom" [isControls]="false" [interval]="3000" [animation]="'fade'">
    <mdb-carousel-item >
      <img class="d-block w-100" src="../../../assets/images/plumber-228010_1920.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item >
      <img class="d-block w-100" src="../../../assets/images/paul-trienekens-mLO6ILUbADA-unsplash.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item >
      <img class="d-block w-100" src="../../../assets/images/electrician-1080561_1920.jpg" alt="Third slide">
    </mdb-carousel-item>
      <mdb-carousel-item >
        <img class="d-block w-100" src="../../../assets/images/building-1080594_1920.jpg" alt="Third slide">
      </mdb-carousel-item>
  </mdb-carousel>

 
  <div class="container">
    <div class="categories mt-4 mb-4">
        <div class="d-flex flex-row-reverse">
            <h3>صيانه متكاملة للمنزل </h3>
        </div>
          <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/plumber-228010_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال السباكة</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/electrician-1080561_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال الكهرباء</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/building-1080594_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال نقاشة</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/electrician-1080561_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">صيانة الاجهزة الكهربائية </h6>
                    </div>
                  </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/tools-2209756_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال النجارة</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/image.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title"> نظافة منزلية</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/coronavirus-4945416_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title"> تطهير ووقاية</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/how-to-clean-a-smelly-couch.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">نظافة مفروشات </h6>
                    </div>
                  </div>
            </div>
          </div>
    </div>
        

    <div class="categories mt-4 mb-4">

          <div class="d-flex flex-row-reverse">
            <h3 class="mt-1">  العروض الأكثر طلباً </h3>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/tools-2209756_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">نظافة شقة كامله</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/total-cleaning-covid-19-header-blog-800x450-1.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title"> تطهير كورونا</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/صيانة-الغسالات-660x330.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">صيانة غسالات اوتوماتك</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/Long-Distance-Moving.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title"> نقل أثاث </h6>
                    </div>
                  </div>
            </div>
          </div>

    </div>

      </div>
   -->

<!-- 
   <mdb-carousel class="carousel slide carousel-fade carousel-custom" [isControls]="false" [interval]="3000" [animation]="'fade'">
    <mdb-carousel-item >
      <img class="d-block w-100" src="../../../assets/images/plumber-228010_1920.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item >
      <img class="d-block w-100" src="../../../assets/images/paul-trienekens-mLO6ILUbADA-unsplash.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item >
      <img class="d-block w-100" src="../../../assets/images/electrician-1080561_1920.jpg" alt="Third slide">
    </mdb-carousel-item>
      <mdb-carousel-item >
        <img class="d-block w-100" src="../../../assets/images/building-1080594_1920.jpg" alt="Third slide">
      </mdb-carousel-item>
  </mdb-carousel>


  <div class="container" >
    <div class="categories mt-4 mb-4" style="background-color: rgb(218, 211, 211);">
        <div class="d-flex flex-row-reverse">
            <h1 style="font-family: 'Lemonada', cursive;
            font-size:large;color: rgb(6, 6, 155);">صيانه متكاملة للمنزل </h1>
            <br>
        </div>
          <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/plumber-228010_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال السباكة</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/electrician-1080561_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال الكهرباء</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/building-1080594_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال نقاشة</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/electrician-1080561_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">صيانة الاجهزة الكهربائية </h6>
                    </div>
                  </div>
            </div>
          </div>


    <div class="categories mt-4 mb-4" style="background-color: rgb(218, 211, 211);">

      <div class="d-flex flex-row-reverse" style="background-color: rgb(218, 211, 211);">

    </div>

          <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/tools-2209756_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال النجارة</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/image.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title"> نظافة منزلية</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/coronavirus-4945416_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title"> تطهير ووقاية</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/how-to-clean-a-smelly-couch.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">نظافة مفروشات </h6>
                    </div>
                  </div>
            </div>
          </div>
    </div>


    <div class="categories mt-4 mb-4" style="background-color: rgb(218, 211, 211);">

          <div class="d-flex flex-row-reverse" style="background-color: rgb(218, 211, 211);">
            <h1 class="mt-1"  style="font-family: 'Lemonada', cursive;


          font-size:large;color: rgb(155, 6, 6) ;">  العروض الأكثر طلباً </h1>
          <br>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/tools-2209756_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">نظافة شقة كامله</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/total-cleaning-covid-19-header-blog-800x450-1.jpeg" alt="Card image" style="height: 165px;">
                    <div class="card-body">
                      <h6 class="card-title"> تطهير كورونا</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/صيانة-الغسالات-660x330.jpeg" alt="Card image" style="height: 165px;">
                    <div class="card-body">
                      <h6 class="card-title">صيانة غسالات اوتوماتك</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/Long-Distance-Moving.jpeg" alt="Card image" style="height: 165px;">
                    <div class="card-body" >
                      <h6 class="card-title"> نقل أثاث </h6>
                    </div>
                  </div>
            </div>
          </div>

    </div>

      </div> -->




      <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
          <h1>Your New Online Presence with Bethany</h1>
          <h2>We are team of talanted designers making websites with Bootstrap</h2>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </section>
      <section id="about" class="about">
        <!-- <div class="container">
  
          <div class="row content" dir="rtl"style="text-align:right;">
            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
              <h2>Eum ipsam laborum deleniti velitena</h2>
              <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assum perenda sruen jonee trave</h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-right" data-aos-delay="200">
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
              </ul>
              <p class="font-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
            </div>
          </div>
  
        </div> -->
        
        <div class="container">

          <div class="row content" dir="rtl"style="text-align:right;">
            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">

              <p style="color: #009970;font-size: 40px;">صنعة</p>
              <p>هى شركة مصرية عامة أسست فى سبتمبر  ٢٠٢٠ </p>
              <p>تاريخ إنشاء الشركة ١٥ نوفمبر ٢٠٢٠</p>
              <p>
                مقر الشركة
              </p>
              <p>
                 مصر,
                المنيا,
                شارع صلاح الدين </p>

1
                <p><strong dir="rtl">رقم التليفون:</strong> <br> 03-4489393-0128574891 </p>
              <p>  <strong dir="rtl">الايميل:</strong><br> sn3a.team@gmail.com<br> </p>

               <div class="social-links text-center text-md-right pt-3 pt-md-0" style="font-size:x-large;">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <br>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-right" data-aos-delay="200">
              <br>
              <p>
                تعمل شركة صنعة ضمن قطاع الصيانة العامة للمنزل
                </p>
                <p>
                و بيع بعض منتجات الخاصة بالصيانة مع التركيز على

              </p>

              <ul>
                <li><i class="ri-check-double-line"></i> صيانة الاجهزة المنزلية</li>

                <li><i class="ri-check-double-line"></i> اعمال السباكة</li>
                <li><i class="ri-check-double-line"></i>اعمال الكهرباء  </li>
                <li><i class="ri-check-double-line"></i>أعمال النجارة </li>
                <li><i class="ri-check-double-line"></i>اعمال النقاشة </li>
                <br>
                <p>و يوجد  قسم للنظافة مثل </p>
                <li><i class="ri-check-double-line"></i> نظافة المفروشات</li>
                <li><i class="ri-check-double-line"></i> نظافة المنازل </li>
                <br>
                <p>كما يوجد قسم خاص </p>
                <li ><i class="ri-check-double-line"></i>  لتطهير و الوقاية </li>
              </ul>

          </div>

        </div>
        </div>
      </section>
     

      <section id="counts" class="counts">
        <div class="container">
  
          <div class="row counters" dir="rtl">
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">152</span>
              <p>العملاء</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">45</span>
              <p>الخدمات</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">70</span>
              <p>المنتجات</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">15</span>
              <p>الفنيين</p>
            </div>
  
          </div>
  
        </div>
      </section>
      <section id="why-us" class="why-us">
        <!-- <div class="container">
  
          <div class="row" dir="rtl">
            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
              <div class="content">
                <h3>Why Choose Bethany for your company website?</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                  Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                </p>
                <div class="text-center">
                  <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-receipt"></i>
                      <h4>Corporis voluptates sit</h4>
                      <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-cube-alt"></i>
                      <h4>Ullamco laboris ladore pan</h4>
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-images"></i>
                      <h4>Labore consequatur</h4>
                      <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="container">

          <div class="row" dir="rtl">
            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
              <div class="content">
                <h3>لماذا تختار شركتنا ؟</h3>
                <p>
                  تساعدك الشركة فى الحفاظ على وقتك والمجهود
                  المبذول فى البحث
                  عن افضل الفنيين المناسبين وتقديم لك الخدمات
                  بجودة عالية وفى وقت قياسي بالإضافة إلى توفير المال وتقدم لكن
                   فترة ضمان للخدمات والمنتجات .
                </p>
                <div class="text-center">
                  <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-receipt"></i>
                      <h4>الجودة</h4>
                      <p> تقدم الشركة لك افضل الخدمات المطابقة للمواصفات العالمية  و ذلك عن طريق ضم الشركة لافضل الكوادر  وتدريبهم على المعايير القياسية</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-cube-alt"></i>
                      <h4>الإلتزام المواعيد</h4>
                      <p>حيث يتم تحديد المدة اللازمة لإنجاز  المهام المطلوبة و مواعد استلام العميل  و وضع شرط جزائي فى حالة التاخير</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-images"></i>
                      <h4>السعر المميز</h4>
                      <p>دائما نحرص على تقديم أفضل الخدمات وبأسعار مميزة تنافس الجميع بالإضافة إلى وجود فترة ضمان</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="home" >

      <div class="raw" style="background-color: #009970;" > <h1 style="text-align: center;color: white;">صيانه متكاملة للمنزل </h1>
      </div>
      <div class="container">      
              <div class="row">
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/plumber-228010_1920.jpg" alt="Card image">
                        <div class="card-body">
                          <h6 style="font-family: 'Lemonada', cursive;">أعمال السباكة</h6>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/electrician-1080561_1920.jpg" alt="Card image">
                        <div class="card-body">
                          <h6 style="font-family: 'Lemonada', cursive;">أعمال الكهرباء</h6>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/building-1080594_1920.jpg" alt="Card image">
                        <div class="card-body">
                          <h6 style="font-family: 'Lemonada', cursive;">أعمال نقاشة</h6>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/electrician-1080561_1920.jpg" alt="Card image">
                        <div class="card-body">
                          <h6 style="font-family: 'Lemonada', cursive;">صيانة الاجهزة </h6>
                        </div>
                      </div>
                </div>
              </div>
              <div class="row">
                <br>
              </div>
              <div class="row">
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/tools-2209756_1920.jpg" alt="Card image">
                        <div class="card-body">
                          <h6 style="font-family: 'Lemonada', cursive;">أعمال النجارة</h6>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/image.jpeg" alt="Card image">
                        <div class="card-body">
                          <h6 style="font-family: 'Lemonada', cursive;"> نظافة منزلية</h6>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/coronavirus-4945416_1920.jpg" alt="Card image">
                        <div class="card-body">
                          <h6 style="font-family: 'Lemonada', cursive;"> تطهير ووقاية</h6>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/how-to-clean-a-smelly-couch.jpeg" alt="Card image">
                        <div class="card-body">
                          <h6 style="font-family: 'Lemonada', cursive;">نظافة مفروشات </h6>
                        </div>
                      </div>
                </div>
              </div>
      </div>
      <br><br><br>
      <div class="raw" style="background-color: #009970;" > <h1 style="text-align: center;color: white;">العروض الاكثر طلبا </h1>
      </div>
      
      <div class="container">
      <div id="demo" class="carousel slide" data-ride="carousel" style="width: 100%;">
      <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      </ul>
      <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="../../../assets/images/tools-2209756_1920.jpg" alt="نظافة شقة كامله " width="1000" height="400">
      <div class="carousel-caption">
        <h1 class="car-caption">نظافة شقة كامله</h1>
      
      </div>
      </div>
      <div class="carousel-item">
      <img src="../../../assets/images/total-cleaning-covid-19-header-blog-800x450-1.jpeg" alt="تطهير كورونا" width="1000" height="400">
      <div class="carousel-caption">
        <h1 class="car-caption">تطهير كورونا</h1>
      
      </div>
      </div>
      <div class="carousel-item">
      <img src="../../../assets/images/صيانة-الغسالات-660x330.jpeg" alt="صيانة غسالات اوتوماتك" width="1000" height="400">
      <div class="carousel-caption">
        <h1 class="car-caption">صيانة غسالات اوتوماتك</h1>
      
      </div>
      </div>
      <div class="carousel-item">
      <img src="../../../assets/images/Long-Distance-Moving.jpeg" alt="نقل أثاث" width="1000" height="400">
      <div class="carousel-caption">
        <h1 class="car-caption">نقل أثاث</h1>
      
      </div>
      </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      </a>
      </div>
      
      
      </div>
      </section>
      
      <!-- End Cliens Section -->
      
