<!-- <nav class="navbar navbar-expand-lg navbar-dark   cls1">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto  navbar-right "style="direction: rtl;">
        <li class="nav-item active">
            <a class="nav-link" href="#"><img [src]="img1" alt="#"style="width:200px; height:50px;"></a>
            </li>
        <li class="nav-item active">
            <a class="nav-link" routerLinkActive="cls" routerLink="/Home">الصفحة الرئيسية </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="cls" routerLink="/Aboutus">من نحن </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="cls" routerLink="/Services">خدماتنا</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="cls" routerLink="/Register">انشاء حساب جديد</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"   routerLinkActive="cls" routerLink="/Login" > تسجيل الدخول</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                اتصل الان
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">0233312727</a>
            <a class="dropdown-item" href="#">01286578866</a>
            <a class="dropdown-item" href="#">01158523897</a>
            </div>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 "style="direction: ltr;">
        <input class="form-control ml-sm-2" type="search" placeholder="بحث" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">بجث</button>
        </form>
    </div>
  
</nav> -->
 

 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>


  <div  class="fixed-top d-flex align-items-center">
    <div class="container"dir="rtl">
      <div class="header-container d-flex align-items-center" dir="rtl">
        <div class="logo">
          <!-- <h1 class="text-light"><a href="index.html"><span>Bethany</span></a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <h1 class="text-light"> <a href="index.html"><img src="assets/2.png" alt="" class="img-fluid"></a></h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul dir="rtl" >
            <li class="get-started"><a href="#about">هيابنا</a></li>
            <li style="text-align: right;" *ngIf="show; else notShow"> <a  class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Content']" ><mdb-icon fas icon="sign-in-alt"  size="1x"></mdb-icon> js[</a></li>
           <!-- <li style="text-align: right;" > <a  class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Login']" ><mdb-icon fas icon="sign-in-alt"  size="1x"></mdb-icon> تسجيل الدخول</a></li> -->
         <li style="text-align: right;"> <a class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Register']" ><mdb-icon fas icon="user-plus"  size="1x"></mdb-icon> الاشتراك</a></li>
         <li style="text-align: right;"> <a class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Contact']" ><mdb-icon fas icon="phone-alt"  size="1x"></mdb-icon> التواصل </a></li>
        
 
<!--             
            <li class="get-started"><a href="#about">هيابنا</a></li>
            <li><a href="#" [routerLink]="['/Login']">تسجيل الدخول</a></li>
            <li><a href="#" [routerLink]="['/Register']">الاشتراك</a></li>
            <li><a href="#why-us">لماذانحن</a></li>
            <li><a href="#"[routerLink]="['/Contact']"> التواصل</a></li>
            <li><a href="#" [routerLink]="['/Products']">المنتجات</a></li>
            <li><a href="#" [routerLink]="['/Services']">الخدمات</a></li>
            <li><a href="#" [routerLink]="['/Aboutus']">فريق العمل</a></li>
            <li class="active"><a href="#" [routerLink]="['/Content']">الرئيسية</a></li> -->
          </ul>
        </nav><!-- .nav-menu -->
      </div><!-- End Header Container -->
    </div>
  </div><!-- End Header -->

  <ng-template #notShow>
               <li style="text-align: right;" > <a  class="w3-bar-item w3-button" mdbWavesEffect [routerLink]="['/Login']" ><mdb-icon fas icon="sign-in-alt"  size="1x"></mdb-icon> تسجيل الدخول</a></li>

  </ng-template>