.carousel-custom{
  img{
      width: 80%;
      height: 10rem;
  }
}

.categories{
  background-color: white;
}
.car-caption{
color: rgb(61, 4, 4);
}
.card{
background-color: rgb(226, 222, 222);
}
.card:hover {
-ms-transform: scale(1); /* IE 9 */
-webkit-transform: scale(1); /* Safari 3-8 */
transform: scale(1.2);
}