

<mdb-carousel class="carousel slide carousel-fade carousel-custom" [isControls]="false" [interval]="3000" [animation]="'fade'">
    <mdb-carousel-item >
      <img class="d-block w-100" src="../../../assets/images/plumber-228010_1920.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item >
      <img class="d-block w-100" src="../../../assets/images/paul-trienekens-mLO6ILUbADA-unsplash.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item >
      <img class="d-block w-100" src="../../../assets/images/electrician-1080561_1920.jpg" alt="Third slide">
    </mdb-carousel-item>
      <mdb-carousel-item >
        <img class="d-block w-100" src="../../../assets/images/building-1080594_1920.jpg" alt="Third slide">
      </mdb-carousel-item>
  </mdb-carousel>

 
  <div class="container">
    <div class="categories mt-4 mb-4">
        <div class="d-flex flex-row-reverse">
            <h3>صيانه متكاملة للمنزل </h3>
        </div>
          <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/plumber-228010_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال السباكة</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/electrician-1080561_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال الكهرباء</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/building-1080594_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال نقاشة</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/electrician-1080561_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">صيانة الاجهزة الكهربائية </h6>
                    </div>
                  </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/tools-2209756_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">أعمال النجارة</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/image.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title"> نظافة منزلية</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/coronavirus-4945416_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title"> تطهير ووقاية</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/how-to-clean-a-smelly-couch.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">نظافة مفروشات </h6>
                    </div>
                  </div>
            </div>
          </div>
    </div>
        

    <div class="categories mt-4 mb-4">

          <div class="d-flex flex-row-reverse">
            <h3 class="mt-1">  العروض الأكثر طلباً </h3>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/tools-2209756_1920.jpg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">نظافة شقة كامله</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/total-cleaning-covid-19-header-blog-800x450-1.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title"> تطهير كورونا</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/صيانة-الغسالات-660x330.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title">صيانة غسالات اوتوماتك</h6>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/Long-Distance-Moving.jpeg" alt="Card image">
                    <div class="card-body">
                      <h6 class="card-title"> نقل أثاث </h6>
                    </div>
                  </div>
            </div>
          </div>

    </div>

      </div>
  