

<div class="row">
 
  <div class="col-md-3" *ngFor="let s_service of SubServiceList; let i=index" >
    <mdb-card cascade="true" narrower="true" class="mb-3 mt-3 example hoverable" style="border-radius: 10% 10% 10% 10%" >

      <!-- <div class="view view-cascade overlay waves-light" style="border-radius: 10% 10% 10% 10%" mdbWavesEffect>
        <mdb-card-img src="{{s_service.image}}" ></mdb-card-img>
        <a [routerLink]="['/NewOrder]">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div> -->

      <mdb-card-body cascade="true" class="text-center">
        <h5 class="text-primary"><strong>{{s_service.name}}</strong>
        </h5>
       

        <mdb-card-text>
          {{s_service.cost}} جنيه</mdb-card-text>

        <a mdbBtn color="primary" class="waves-light" mdbWavesEffect [routerLink]="['/NewOrder']"><strong> اطلب الآن</strong></a>

      </mdb-card-body>

    </mdb-card>
  </div>




