   
 <div class="row">
 
  <div class="col-md-3" *ngFor="let s_service of SubServiceList;let i=index">
 <mdb-card
 style="background-image: url('{{s_service.img}}');border-radius: 10% 30% 10% 10%"
 class="card-image mb-3 mx-2 mt-3 example hoverable"
 
>
 <!-- Content -->
 <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
   <div>
     <!-- <h5 class="pink-text">
       <mdb-icon fas icon="chart-pie"></mdb-icon>
       Marketing
     </h5> -->
     <h3 class="card-title pt-2"><strong>{{s_service.name}}</strong></h3>
     <p>
      {{s_service.description}}
      {{s_service.cost}} جنيه
     </p>
     <a mdbBtn color="primary" class="waves-light" mdbWavesEffect>
       <mdb-icon far icon="clone" class="left"></mdb-icon>
   اطلب الآن</a
     >
   </div>
 </div>
 <!-- Content -->
</mdb-card>
</div>
</div>






<!-- <p>subservice works!</p>
<div *ngFor="let bservice of SubServiceList;let i=index">
    <div class="card" style="width: 18rem;">
     <img class="card-img-top" src="{{bservice.img}}" alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title"> Id: {{bservice.id}}</h5>
       <p class="card-text">Name: {{bservice.name}}
         <br>
         Description: {{bservice.description}}
         <br>
         Cost: {{bservice.cost}}
         <br>
         Service: {{bservice.service}}
       </p>
        <p><a class="btn btn-info" [routerLink]="['/Subservice',service.id]" >More</a></p> 
     </div>
   </div>
 </div>
  -->
