<nav id="header"  class="navbar navbar-expand-lg navbar-light bg-white fixed-top d-flex align-items-center pr-5" dir="rtl">
  <a class="navbar-brand mr-5" style="background-color: #009970;" href="#">
    
    <h1 class="text-light"> <a href="index.html"><img src="assets/images/9-9-png.png" width="100%" alt="" class="img-fluid"></a></h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" mdbWavesEffect [routerLink]="['/Content']"><mdb-icon fas icon="building"  size="1x"></mdb-icon>الرئيسية</a>
      <a class="nav-item nav-link" mdbWavesEffect [routerLink]="['/Aboutus']"><mdb-icon fas icon="users"  size="1x"></mdb-icon>  فريق العمل</a>
      <a class="nav-item nav-link" mdbWavesEffect [routerLink]="['/Services']"><mdb-icon fas icon="tools"  size="1x" ></mdb-icon> الخدمات</a>
      <a class="nav-item nav-link" mdbWavesEffect [routerLink]="['/Subproducts']"><mdb-icon fas icon="tools"  size="1x"></mdb-icon> المنتجات</a>
      <a class="nav-item nav-link" mdbWavesEffect [routerLink]="['/Technision']"><mdb-icon fas icon="users"  size="1x"></mdb-icon> الفنيين</a>
      <a class="nav-item nav-link" mdbWavesEffect [routerLink]="['/Contact']"><mdb-icon fas icon="phone-alt"  size="1x"></mdb-icon> التواصل </a>
      <a class="nav-item nav-link" mdbWavesEffect [routerLink]="['/Contact']"><mdb-icon fas icon="phone-alt"  size="1x"></mdb-icon> التواصل </a>
      <a class="nav-item nav-link" *ngIf="login; else notToken" mdbWavesEffect [routerLink]="['/Login']" (click)="logout()"><mdb-icon fas icon="sign-in-alt"  size="1x"></mdb-icon> تسجيل الخروج </a>
      <!-- <a class="nav-item nav-link" *ngIf="login;" mdbWavesEffect [routerLink]="['/Customer']"><img src="assets/img/team/team-1.jpg" style="border-radius: 500px;position: absolute;float: left;" alt=""></a> -->


    
    </div>
    <a class="mr-3" *ngIf="login;" mdbWavesEffect [routerLink]="['/Customer']"><img src="assets/img/team/team-1.jpg" style="border-radius: 500px;" alt=""></a>

  </div>
</nav>

<ng-template #notToken>
  <a class="nav-item nav-link" mdbWavesEffect [routerLink]="['/Register']"><mdb-icon fas icon="user-plus"  size="1x"></mdb-icon>  الاشتراك</a>
  <a class="nav-item nav-link" mdbWavesEffect [routerLink]="['/Login']"><mdb-icon fas icon="sign-in-alt"  size="1x"></mdb-icon> تسجيل الدخول</a>

</ng-template>




