.pg-color{
    background-color: rgb(248, 242, 232);
    height: 3rem;
    
    }
    
    
    mdb-navbar {
        font-family: 'Lemonada', cursive;
        font-size: large;
        font-weight: bold;
    
    }
    img{
        height: 4rem;
        width: 5rem;
    
    }
    .w3-bar w3-button{
      font-family: 'Lemonada', cursive;
        font-size: large;
        font-weight: bold;
    }
    #i{
      font-family: 'Lemonada', cursive;
        font-size: large;
        font-weight: bold;
        
    }
    #li{
      text-align: right;
      
    }
    a{
      color: black;
      
    }