<!-- <footer class="page-footer font-small fixed-bottom bg-danger"   appHighlight>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href=""> ITI Minia</a>
    </div>

  </footer> -->
  <!-- Footer -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>شبكاتنا الاجتماعية</h4>
          <div class="social-links mt-3">
            <a href="#" class="snip1472"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="snip1472"><i class="fab fa-instagram"></i></a>
            <a href="#" class="snip1472"><i class="fab fa-telegram-plane"></i></a>
            <a href="#" class="snip1472"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>خدماتنا</h4>

          <p><i class="bx bx-chevron-right"></i> <a href="#">صيانه متكاملة للمنزل</a></p>
          <p><i class="bx bx-chevron-right"></i> <a href="#">نقل اثاث</a></p>
          <p><i class="bx bx-chevron-right"></i> <a href="#">نظافة منزل كاملة</a></p>
          <p><i class="bx bx-chevron-right"></i> <a href="#">قطع غيار</a></p>


        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>روابط مفيدة</h4>

           <p> <i class="bx bx-chevron-right"></i> <a href="#">الرئيسية</a></p>
           <p><i class="bx bx-chevron-right"></i> <a href="#">عن الشركة</a></p>
           <p> <i class="bx bx-chevron-right"></i> <a href="#">الخدمات</a></p>
           <p><i class="bx bx-chevron-right"></i> <a href="#">سياسة الخصوصية</a></p>


        </div>


        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>صنعة</h3>
          <p>
            شارع صلاح الدين<br>
            المنيا<br>
            مصر <br><br>
            <strong>رقم الهاتف</strong><br> 3-4489393-01285748917<br>
            <strong>البريد الإلكتروني</strong>
            <br>san3a@gmail.com<br>
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright" >
      &copy; Copyright <strong><span><a href=""> ITI San3a-Team</a></span></strong>. All Rights Reserved

    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
     <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
    </div>
  </div>





</footer>
<!-- End Footer -->

