<nav class="navbar navbar-expand-lg navbar-dark   cls1">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto  navbar-right "style="direction: rtl;">
        <li class="nav-item active">
            <a class="nav-link" href="#"><img [src]="img1" alt="#"style="width:200px; height:50px;"></a>
            </li>
        <li class="nav-item active">
            <a class="nav-link" routerLinkActive="cls" routerLink="/Home">الصفحة الرئيسية </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="cls" routerLink="/Aboutus">من نحن </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="cls" routerLink="/Services">خدماتنا</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="cls" routerLink="/Register">انشاء حساب جديد</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"   routerLinkActive="cls" routerLink="/Login" > تسجيل الدخول</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                اتصل الان
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">0233312727</a>
            <a class="dropdown-item" href="#">01286578866</a>
            <a class="dropdown-item" href="#">01158523897</a>
            </div>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 "style="direction: ltr;">
        <input class="form-control ml-sm-2" type="search" placeholder="بحث" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">بجث</button>
        </form>
    </div>
</nav>

<!-- <div class="navbar-navout navbar-collapse collapse" id="navbar" aria-expanded="false">
    
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-container">
<ul class="nav navbar-nav navbar-right cl-effect-17">
    <li>
        <a title="تاسكتي الرئيسية" href="/"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li>
        <a title="خدمات تاسكتي" href="/Services/Index">
            الخدمات
        </a>
    </li>
    <li>
        <a title="عروضنا المخفضة" href="/Offers/Index">
            العروض المخفضة
        </a>
    </li>
        <li>
            <a title=" كيفية الإستخدام" href="/how-to-use">
                    كيفية الإستخدام
            </a>
        </li>
        <li>
            <a title="عن الشركة" href="/AboutUs">
                عن الشركة
            </a>
        </li>
    <li>
        <a title="اتصل بنا" href="/Contact/Index">
            اتصل بنا
        </a>
    </li>
</ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

     -->