


<div class="row mt-5 d-flex justify-content-center" [style.visibility]="show? 'visible': 'hidden'">
    <div class="alert alert-success custom_alert text-center">
        تم إرسال رابط إعادة تعيين كلمة المرور الخاصه بك بنجاح 
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6 justify-content-center align-self-center">
        <img src="../../../assets/Home-Maintenance1.png" class=" img-fluid z-depth-0 animated bounce " width="100%">
    </div>
    <div class="col-md-6 justify-content-center align-self-center ">
        <form #myForm="ngForm"  (ngSubmit)="reset_password()">
            <div class="form-group">
                <label for="">البريد الالكتروني</label>
                <input type="email" name="pEmail" #pEmail="ngModel" [class.is-valid]="pEmail.valid"
                    [class.is-invalid]="pEmail.invalid && pEmail.touched" [(ngModel)]="email" minlength="7" id=""
                    class="form-control" placeholder="" aria-describedby="helpId">
                <div class="alert alert-danger" *ngIf="pEmail.invalid && pEmail.touched" role="alert">
                    <div *ngIf="pEmail.hasError('minlength')">
                        برجاء ادخال بريد الكتروني صحيح
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
                إعادة تعيين كلمة المرور
            </button>
        </form>
    </div>
</div>