<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h1 style="color: rgb(15, 15, 87);text-align: center;font-weight: bold;">عن الشركة</h1>
    </div>
  </div>
    <div class="row content" style="text-align:center;" >
   <h3 style="color: gray;">
      صنعة شركة متخصصة فى كافة اعمال الديكور
    والتشطيبات
   </h3>
   <h3 style="color: gray;">
    بجودة عالية فى محافظة
    المنيا حيث توفر افضل الفنيين والرواد فى هذا المجال
  </h3>

</div>





<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
    <div class="avatar mx-auto">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
        alt="Sample avatar">
    </div>
    <h3 class="font-weight-bold mt-4 mb-3">محمد اشرف</h3>
    <h5 class="font-weight-bold mt-4 mb-3"> مدير مجلس الإدارة</h5>

    <p class="grey-text"> يملك خبرة كبيرة فى مجالات
      وضع الخطة العامة للاستثمار اموال المؤسسة
      اتخاذ القرارات الاستثمارية اللازمة
    </p>
    <ul class="list-unstyled mb-0">
      <!-- Facebook -->
      <a class="p-2 fa-lg fb-ic">
        <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
      </a>
      <!-- Twitter -->
      <a class="p-2 fa-lg tw-ic">
        <mdb-icon fab icon="twitter" class="blue-text"> </mdb-icon>
      </a>
      <!-- Instagram -->
      <a class="p-2 fa-lg ins-ic">
        <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
      </a>
    </ul>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
    <div class="avatar mx-auto">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
        alt="Sample avatar">
    </div>
    <h3 class="font-weight-bold mt-4 mb-3">صطفى العدوى</h3>
    <h5 class="font-weight-bold mt-4 mb-3">مدير تنفيذى</h5>
    <p class="grey-text">يملك خبرة كبيرة فى مجالات
      مصادر التمويل
      المعاملات الحكومية
      التخطيط للمستقبل
      الإشراف على الموظفين
      </p>
    <ul class="list-unstyled mb-0">
      <!-- Facebook -->
      <a class="p-2 fa-lg fb-ic">
        <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
      </a>
      <!-- Instagram -->
      <a class="p-2 fa-lg ins-ic">
        <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
      </a>
    </ul>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
    <div class="avatar mx-auto">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
        alt="Sample avatar">
    </div>
    <h3 class="font-weight-bold mt-4 mb-3">احمد بدوي</h3>
    <h5 class="font-weight-bold mt-4 mbb-3">مدير التسويق والمبيعات</h5>
     <p class="grey-text">يملك خبرة كبيرة فى مجالات
      البيع والتخطيط لاستراتيجية السوق
      الخطط التسويقية
      التواصل مع السوق
      تحديد مواصفات المنتج
      </p>
    <ul class="list-unstyled mb-0">
      <a class="p-2 fa-lg fb-ic">
        <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
      </a>
      <!-- Twitter -->
      <a class="p-2 fa-lg ins-ic">
        <mdb-icon fab icon="dribbble" class="blue-text"> </mdb-icon>
      </a>
      <!-- Instagram -->
      <a class="p-2 fa-lg ins-ic">
        <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
      </a>
    </ul>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6">
    <div class="avatar mx-auto">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
        alt="Sample avatar">
    </div>
    <h3 class="font-weight-bold mt-4 mb-3">محمد عبد النعيم</h3>
    <h5 class="font-weight-bold mt-4 mb-3">مدير مالى</h5>

    <p class="grey-text">يملك خبرة كبيرة فى مجالات
      متابعة حسابات العملاء والمستثمرين
      متابعة مصادرة التمويل
      إدارة الحسابات
      إدارة الموارد البشرية
      </p>
    <ul class="list-unstyled mb-0">
      <!-- Facebook -->
      <a class="p-2 fa-lg fb-ic">
        <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
</a>
<!-- Github -->
<a class="p-2 fa-lg ins-ic">
  <mdb-icon fab icon="github" class="blue-text"> </mdb-icon>
</a>
</ul>
</div>
<!-- Grid column -->

</div>
<!-- Grid row -->

</section>
<!-- Section: Team v.1 -->
<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">
  <!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">



  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
    <div class="avatar mx-auto">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
        alt="Sample avatar">
    </div>
    <h3 class="font-weight-bold mt-4 mb-3">حسام سليمان</h3>
    <h5 class="font-weight-bold mt-4 mb-3">مدير خدمة العملاء </h5>
    <p class="grey-text">يملك خبرة كبيرة فى مجالات
      تلاقى المشكلات
أجاد حلول جذرية للمشكلات
الإشراف على الموظفين
      </p>
    <ul class="list-unstyled mb-0">
      <!-- Facebook -->
      <a class="p-2 fa-lg fb-ic">
        <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
      </a>
      <!-- Instagram -->
      <a class="p-2 fa-lg ins-ic">
        <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
      </a>
    </ul>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
    <div class="avatar mx-auto">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
        alt="Sample avatar">
    </div>
    <h3 class="font-weight-bold mt-4 mb-3"> هيلانه ثروت</h3>
    <h5 class="font-weight-bold mt-4 mb-3">مدير الشئون القانونية</h5>
    <p class="grey-text">يملك خبرة كبيرة فى مجالات
      معرفة متعمقة بالأنظمة واللوائح المطبقة فى جمهورية مصر العربية
معاونة مجلس الإدارة فى مراقبة تطبيق القوانين واللوائح والانظمة
     </p>
    <ul class="list-unstyled mb-0">
      <a class="p-2 fa-lg fb-ic">
        <mdb-icon fab icon="facebook-f" class="blue-text"> </mdb-icon>
      </a>
      <!-- Twitter -->
      <a class="p-2 fa-lg ins-ic">
        <mdb-icon fab icon="dribbble" class="blue-text"> </mdb-icon>
      </a>
      <!-- Instagram -->
      <a class="p-2 fa-lg ins-ic">
        <mdb-icon fab icon="instagram" class="blue-text"> </mdb-icon>
      </a>
    </ul>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6">


  </div>
</div>
</section>
  <!-- Grid column -->

<!-- End About Us Section -->