<div class="content mt-5">
    <div class="col">
        <div class="row d-flex justify-content-center" [style.visibility]="show? 'visible': 'hidden'">
            <div class="alert alert-danger custom_alert text-center" >
                حدث خطآ عند تفعيل حسابك يرجاء طلب تفعيل أخر لحسابك
            </div>
        </div>
    </div>

<div class="col mt-1">
    <h3>شكراً للتسجيل فى موقع صنعة للخدمات المنزليه </h3>
    <button class="mt-3"  (click)="activate_account()"[ngClass]="(active==false)?'btn btn-danger':'btn btn-success'" [disabled]="active">
        {{status}}
    </button>
</div>
</div>
<br>
<br>