


<div class="row mt-5 d-flex justify-content-center" [style.visibility]="show? 'visible': 'hidden'">
    <div class="alert alert-success custom_alert text-center">
        تم تعيين كلمة مرور جديدة للحساب
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6 justify-content-center align-self-center">
        <img src="../../../assets/Home-Maintenance1.png" class=" img-fluid z-depth-0 animated bounce " width="100%">
    </div>
    <div class="col-md-6 justify-content-center align-self-center ">
        <form #myForm="ngForm"  (ngSubmit)="set_new_password()">
            <div class="form-group">
                <label for="">كلمة المرور</label>
                <input type="password" name="password1" #pPassword1="ngModel" [class.is-valid]="pPassword1.valid"
                    [class.is-invalid]="pPassword1.invalid && pPassword1.touched" [(ngModel)]="password1" minlength="5" id=""
                    class="form-control" placeholder="" aria-describedby="helpId">
                <div class="alert alert-danger" *ngIf="pPassword1.invalid && pPassword1.touched" role="alert">
                    <div *ngIf="pPassword1.hasError('minlength')">
                        برجاء ادخال كلمة مرور قوية
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">تأكيد كلمة المرور</label>
                <input type="password" name="password2" #pPassword2="ngModel" [class.is-valid]="pPassword2.valid"
                    [class.is-invalid]="pPassword2.invalid && pPassword2.touched" [(ngModel)]="password2" minlength="5" id=""
                    class="form-control" placeholder="" aria-describedby="helpId">
                <div class="alert alert-danger" *ngIf="pPassword2.invalid && pPassword2.touched" role="alert">
                    <div *ngIf="pPassword2.hasError('minlength')">
                        برجاء ادخال كلمة مرور قوية
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
            تعيين كلمة مرور جديدة 
            </button>
        </form>
    </div>
</div>