<div class="row">
 
    <div class="col-md-3" *ngFor="let product of ProductList; let i=index" >
      <!--Card-->
      <mdb-card cascade="true" narrower="true" class="mb-3 mt-3 example hoverable" style="border-radius: 10% 10% 10% 10%" >
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" style="border-radius: 10% 10% 10% 10%" mdbWavesEffect>
          <mdb-card-img src="{{product.image}}" ></mdb-card-img>
          <a [routerLink]="['/Subproduct', product.id]">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h5 class="text-primary">
            <mdb-icon fas icon="hammer"></mdb-icon>{{product.type}}</h5>
          <!--Title-->
          <!-- <h4 class="card-title">نقدم خدمات النجارة</h4> -->
          <!--Text-->
  
          <mdb-card-text>{{product.description}}</mdb-card-text>
  
          <a mdbBtn color="primary" class="waves-light" mdbWavesEffect [routerLink]="['/Subproduct', product.id]"><strong>تفاصيل الخدمة</strong></a>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
  
  