// label{
//     float:right;
// }
// button{
//     float: left;
// }
// img {
//     pointer-events: none;
// }
h5{
    color: rgb(128, 19, 19);
    text-align: center;
    font-family: 'Lemonada';
  }
  
  .col-md-6{
    background-color: rgb(219, 243, 223);
  
    border-radius:10%
  }
  button{
    float:left;
    align-items: right;
    background-color: #225825;
    width: 100%;
  }
  
  label{
      float:right;
  }