
.login{
  color: rgb(128, 19, 19);
  text-align: center;
  font-family: 'Lemonada';
  font-size: large;
}

.col-md-6{
  background-color: rgb(166, 214, 174);

  border-radius:10%
}
button{
  float:left;
  align-items: right;
  background-color: #225825;
  width: 100%;
}

label{
    float:right;
}

