<!-- <br>
<form  [formGroup]="myform"  (ngSubmit)="Login()" >
 <div class="form-group">
   <label for="">Email</label>
   <input type="email"   formControlName="Email"   [(ngModel)]="Ilogin.email" class="form-control" name="email">
   <div  *ngIf="myform.controls['Email'].invalid && myform.controls['Email'].touched " class="alert alert-danger" role="alert">
     <div> Email is Requird </div>
   </div>
 </div>

 <div class="form-group">
   <label for="">Password</label>
   <input type="password"   formControlName="Password"  [(ngModel)]="Ilogin.password"class="form-control" name="pass">
   <div  *ngIf="myform.controls['Password'].invalid && myform.controls['Password'].touched " class="alert alert-danger" role="alert">
    <div> Password is Requird </div>
  </div>
 </div>
 <button type="submit" class="btn btn-primary" [disabled]="myform.invalid" >Login</button>
</form>
<br> -->
<!--
<form #myForm="ngForm" (ngSubmit)="Login()"  >

    <div class="form-group">
      <label for="">البريد الالكتروني</label>
      <input type="email" name="pEmail" #pEmail="ngModel" [class.is-valid]="pEmail.valid"  [class.is-invalid]="pEmail.invalid && pEmail.touched" [(ngModel)]="user.email"  minlength="7"  class="form-control" placeholder="" aria-describedby="helpId">
        <div class="alert alert-danger"  *ngIf="pEmail.invalid && pEmail.touched"  role="alert">
            <div *ngIf="pEmail.hasError('minlength')"> please write valid email </div>

        </div>
    </div>
    <div class="form-group">
      <label for="">كلمة المرور</label>
      <input type="password" name="pPass"    #pPass="ngModel"   minlength="4"  [(ngModel)]="user.password" [class.is-valid]="pPass.valid"[class.is-invalid]="pPass.invalid && pPass.touched" id="" class="form-control" placeholder="" aria-describedby="helpId">
      <div class="alert alert-danger"  *ngIf="pPass.invalid && pPass.touched"  role="alert">
        <div *ngIf="pPass.hasError('minlength')" >برجاء ادخال كلمة المرور </div>
    </div>
  </div> -->



<!--
      <button type="submit" class="btn btn-primary" [routerLink]="['/Content']"[disabled]="myForm.invalid">Login</button>
    </form> -->



    <div class="row " style=" background-image: url(../../../assets/images/login.jpeg);
    background-repeat:no-repeat;
    background-size: cover; padding-left: 400px;padding-top: 150px;padding-bottom: 50px;">



      <div class="col-md-6 justify-content-center align-self-center " >
        <br>
        <h5>تسجيل الدخول</h5>
    <form #myForm="ngForm" (ngSubmit)="Login()"  >

        <div class="form-group">
          <label for="">البريد الإلكتروني</label>
          <input type="email" name="pEmail"  #pEmail="ngModel" [class.is-valid]="pEmail.valid"  [class.is-invalid]="pEmail.invalid && pEmail.touched" [(ngModel)]="user.username"  minlength="7" id="" class="form-control" placeholder="" aria-describedby="helpId">
          <div class="alert alert-danger"  *ngIf="pEmail.invalid && pEmail.touched"  role="alert">
                <!-- <div *ngIf="pEmail.hasError('required')" > Email is required </div> -->
                <div *ngIf="pEmail.hasError('minlength')"> برجاء ادخال بريد الكتروني صحيح </div>

            </div>
        </div>
        <div class="form-group">
          <label for="">كلمة المرور</label>
          <input type="password" name="pPass"    #pPass="ngModel"   minlength="4"  [(ngModel)]="user.password" [class.is-valid]="pPass.valid"[class.is-invalid]="pPass.invalid && pPass.touched" id="" class="form-control" placeholder="" aria-describedby="helpId">
          <div class="alert alert-danger"  *ngIf="pPass.invalid && pPass.touched"  role="alert">
            <div *ngIf="pPass.hasError('minlength')" >برجاء ادخال كلمة المرور </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid" style="background-color: #225825;">تسجيل الدخول</button>
     <br><br>
      <a [routerLink]="['/ResetPassword']" style="font-size:small;padding-left: 90px;">هل نسيت كلمة المرور؟</a>
    <br>
    <br>
    </form>
   </div>
