<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activation Email</title>
    <style>
    	h1 {text-align: center;}
	p {text-align: center;}
    </style>
  </head>
  <body>
    <h1>Hello {{user}}, Use link below to verify your email</h1>
    <p> {{adsurl}} </p>
       <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activation Email</title>
  </head>
  <body>

    <div class="container mt-5" style="background-color: aliceblue;">
      
      <div class="row">

          <div class="col-md-6">

              <div class="d-flex justify-content-center mt-5">
                <h3 class="font-weight-bold"> شركة صنعة للخدمات المنزلية</h3>
              </div>
          
          </div>

          <div class="col-md-6">
                <div class="d-flex flex-row-reverse justify-content-center">
                  <img src="https://i.ibb.co/jJVwpvy/Product.png" class="rounded" alt="logo" style="width: 100px; height: 100px;">
                </div>
                
          </div>
      </div>

   
      <hr>
      <h1>Hello {{user}}, Use link below to verify your email</h1>
      <p> {{adsurl}} </p>

      <p>Welcome to the world of programming</p>

      <p>Thanks,<br />Expert Mostafa eladawy :) :) </p>
  </div>
            <div class="row">
                <div class="col-md-12">
                  <hr class="bg-dark">
                  <div class="text-center">
                    <h1>Hello {{user}}, Use link below to verify your email</h1>
                    <p> {{adsurl}} </p>
                    <p>With Sn3a your home is safe </p>
                    <p>Thanks,<br/>Sn3a Company :) </p>
                  </div>
                    
                </div>
            </div>
    </div>
  </body>
</html>
