<!-- <br><br><br><br> 
 <div class="row">
 
  <div class="col-md-3" *ngFor="let s_service of SubServiceList;let i=index">
 <mdb-card
>
<div class="view view-cascade overlay waves-light" style="border-radius: 10% 10% 10% 10%" mdbWavesEffect>
  <mdb-card-img src="{{s_service.image}}" ></mdb-card-img>
  <a href="#">
    <div class="mask rgba-white-slight"></div>
  </a>
</div>
 <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
   <div>
     
     <h3 class="card-title pt-2"><strong>{{s_service.name}}</strong></h3>
     <p>
      {{s_service.description}}
      {{s_service.cost}} جنيه
     </p>
     <a mdbBtn color="primary" class="waves-light" mdbWavesEffect  [routerLink]="['/NewOrder']">
       <mdb-icon far icon="clone" class="left"></mdb-icon>
   اطلب الآن</a
     >
   </div>
 </div>
</mdb-card>
</div>
</div> -->



<br><br><br>
  <section id="services" class="services section-bg">
    <div class="container">

      <div class="row" dir="rtl">
        <div class="col-lg-4" dir="rtl">
          <div class="section-title" data-aos="fade-right">
            <h2 style="text-align: right;">SubServices</h2>
            <p style="text-align: right;">Magnam dolores commodi suscipit nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch" *ngFor="let s_service of SubServiceList;let i=index">
             
              <mdb-card cascade="true" narrower="true" class="mb-3 mt-3 example hoverable" style="border-radius: 10% 10% 10% 10%" >

                <div class="view view-cascade overlay waves-light" style="border-radius: 10% 10% 10% 10%" mdbWavesEffect>
                  <mdb-card-img src="{{s_service.image}}" ></mdb-card-img>
                  <a href="#">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <mdb-card-body cascade="true" class="text-center">                 
                  <mdb-card-text> <h3 style="border-radius: 20% 20% 20% 20%; background-color: rgb(9, 131, 60); color: white;" >{{s_service.name}}</h3>
                    <br>
                     {{s_service.description}}
                     <br>
                    {{s_service.cost}} جنيه</mdb-card-text>
          
                  <a mdbBtn  class="waves-light" style="color:#009970;border-radius: 20% 20% 20% 20%" mdbWavesEffect [routerLink]="['/NewOrder']"><strong>اطلب الان</strong></a>
          
                </mdb-card-body>
          
              </mdb-card>
          </div>
        </div>
      </div>

    </div>
    </div>
  </section>


